tmp/
**tmp/
.idea/

.DS_Store
app/cart/.env
app/**/nohup.out
app/**/log/
app/**/tmp/
app/**/kitex_gen/
app/**/dev/

go.work.sum
deploy/config/prometheus.yml
deploy/config/rmqbroker.conf
deploy/config/rmqproxy.json